* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    color: #313131;
    font-size: 18px;
}

.bold {
    font-weight: bold;
    font-size: inherit;
}

.container {
    max-width: 1610px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header-phone-block {
    display: flex;
}

.header-phone-block img {
    margin-right: 20px;
    max-height: 51px;
}

.header-number {
    font-size: 46px;
    font-weight: bold;
}

.header-adress {
    text-align: end;
    font-size: 20px;
    letter-spacing: 2.6px;
}

.header-menu {
    margin-top: 30px;
    max-width: 1170px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.menu-link {
    color: inherit;
    font-size: 30px;
}

.menu-link:hover {
    color: #099efe;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-text {
    font-size: 30px;
}

@media (max-width: 1000px) {
    .sub-text {
        font-size: 26px;
    }
}

.sub-text-link {
    margin-top: 20px;
}

.registration-link {
    background-color: #099efe;
    padding: 5px 10px;
    border-radius: 1em;
    color: #fff;
}
/* цвет шрифта #313131 */